[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pycaret = "*"
scikit-learn = "*"
openpyxl = "*"
watchdog = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.10"
